* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    display: flex; 
    flex-direction: column;
    height: 17%;
    padding: 10px 0px 2px 0px;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .header-menu{
    margin: 8px 0px 0px 20px;
    display: flex;
    flex-direction: row;
  }
  .search-box{
    margin-left: 80px;
    height: 20px;
    text-align: center;
    width: 100%;
  }
  .search-box input[type=text] {
    min-width: 550px;
    padding: 14px;
    border: 0.5px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;  
  }
  .search-button{
    border: none;
    padding: 0px 6px 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px -5px;
    cursor: pointer
  }
  .mic-icon{
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-left: 20px;
  }
  .profile{
    width: 30%;
    display: flex ;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: -40px;
  }
  #navlist {
    margin-top: 2%;
    margin-left: 16%;
    width:82%;
    overflow-x:hidden;
    white-space:nowrap;
 }
  .main-container{
    width: 100%;
  }
  .left-menu{
    display: block;
    position: fixed;
    top: 50px;
    width: 15%;
    height: 100%;
    float: left;
    padding: 10px 0px 10px 10px;
    background-color: white;
    overflow: hidden;
  }
  .left-menu:hover{
    overflow-y: auto;
  }
  .signin{
    background-color: Transparent;
    border: 1px solid;
    border-color: rgb(178, 204, 216);
    color:  rgb(62, 94, 233);;
    border-radius: 30px;
    width: 50%;
    height: 40px;
    cursor:pointer;
  }
  .signin:hover{
    background-color:rgb(178, 204, 216);
  }
  .right-menu{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: right;
    padding: 10px 10px;
    margin-top: 7%;
  }
  section{
    margin-top: 15px;
  }
  .section-divider{
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: rgb(218, 215, 215);
  }
  .section-divider p{
    margin-left: 15px;
  }
  a{
    width: 90%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin-left: 3px;
    border-radius: 8px;
  }
  a span {
    margin-left: 15px;
  }
  a:hover{
    background-color: rgb(218, 215, 215);
  }
  li{
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(218, 215, 215);
    padding: 8px 8px 8px 8px;
    margin: 0px 5px 0px 5px;
  }
  .card{
    display: inline-block;
    height: 180px;
    width: 315px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
  }
  .after-search-cards{
    display: flex;
    flex-direction: row;
    height: 180px;
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
  }
  .after-search-cards > .cardtext{
    margin-left: 20px;
  }
  .thumbnail{
    border-radius: 10px;
    height: 180px;
    width: 315px;
  }
  .VideoScreen{
    border-radius: 10px;
    height: 550px;
    width: 1000px;
  }
.youtubeicon{
  width: 130px; 
  height: 40px; 
  margin-left:10px;
  margin-top: -15px;
}
i{
  cursor: pointer;
  font-size: 22px;
}
p{
  color:rgb(99, 99, 99);
  font-size: 15px;
}
.videoscreen{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar-toggle{
  display: none;
}
.expand-container{
  margin-top: 100px;
  margin-left: 80px;
}
.remaining-list{
  display:'flex';
  flex-direction: column;
  align-items: flex-end;
  margin-left: 690px;
 }
 .remaining-list>div{
  margin-bottom: -55px;
 }
 .remaining-list>div> .after-search-cards> .thumbnail{
  width: 180px;
  height: 120px;
 }
 .remaining-list>div> .after-search-cards> .thumbnail + .cardtext {
  width: 270px;
 }